			/*除首页外，每个页面共有的样式*/
			body{
				
				padding:0;
				margin:0;
			}
			.divtop{
				background-color:white;
				padding:15px;
				margin-left:80px;
				width:100%;
				height:50px;
			}
			.divtop input{
				position:absolute;
				right:200px;
				margin:15px 0px;
				width:200px;
				height:20px;
				color:lightgray;
				border-color:lightgray;
				
			}
			.leftred{
				position:fixed;
				left:0px;
				top:0px;
				z-index:-1;
				background-color:#980000;
				width:80px;
				height:100%;
			}
			.hgray{
				position:relative;
				left:0px;
				width:100%;
				height:10px;
				margin-left:80px; /*important*/
				margin-top:0px;
				background-color:darkgray;
			}
			.vgray{
				position:absolute;
				top:60px;
				width:5px;
				height:1350px;
				margin-top:20px;
				margin-left:400px;
				background-color:darkgray;
			}
			.infor{
				position:relative;
				top:10px;
				left:85px;
				width:20%;
			}
			.infor .title{
				color:#980000;
			}
			.infor p{
				font-size:15px;
			}
			.infor_bottom{
				position:relative;
				bottom:10px;
				left:85px;
				font-size:15px;
				margin-top:700px;
			}
			.infor_btm a{
				color:#980000;
				font-size:5px;
				text-decoration:none;
			}
			